:root {
    // --main-black-color: #090909;
    // --main-grey-color: #bdc3c7;
    // --main-green-color: #0b8;
    // --main-blue-color: #339ce1;
    // --main-yellow-color: #f1c40f;

    --main-black-color: #090909;
    --main-font-color: #090909;

    --main-grey-color: #bdc3c7;
    --main-green-color: #0b8;

    --bold-blue-color: #6b91ab;
    --light-blue-color: #bcd5e2;

    --main-yellow-color: #f1c40f;

    --nav-height: 6em;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'quicksand', sans-serif;
    font-size: 20px;
}

content-wrapper {
    background: var(--bold-blue-color);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}

nav {
    display: block;
    background: var(--bold-blue-color);
    height: var(--nav-height);
    width: 100vw;
    color:  var(--main-font-color);
    position: fixed;
    z-index: 10;
    opacity: 0.95;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    margin: 0;
    padding: 10px 0 0 0;
}


nav ul li {
    display: block;
    margin: 0 10px 10px 10px;
}

nav ul li a{
    text-decoration: none;
    padding: 0.2em;
    color:  var(--main-font-color);
    transition: border 0.2s, color 0.2s, padding 0.2s;
}

nav ul li a icone, nav ul li a label{
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

nav ul li a icone .fa{
    font-size: 2em !important;
    margin-left: 0 !important;
}

nav ul li a icone  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 1em !important;
    margin-left: 0 !important;

}

nav ul li a label{
    text-decoration: none;
    border-top: 1px solid;
    padding: 0.2em;
    color:  var(--main-font-color);
    transition: border 0.2s, color 0.2s, padding 0.2s;
}

footer {
    text-align: center;
    font-size: 0.8em;
    min-height: 2em;
    line-height: 1em;
    margin-top: -2.2em;
    z-index: 2;
    background-color: rgba(255,255,255,0.2);
    padding-top: 0.2em;
}

#accueil:target nav ul li a#accueilLink,
#services:target nav ul li a#servicesLink,
#presentation:target nav ul li a#presentationLink,
#realisations:target nav ul li a#realisationsLink,
#contact:target nav ul li a#contactLink{
    color:  var(--main-yellow-color);
}

nav ul li a:hover label,
#accueil:target nav ul li a#accueilLink label,
#services:target nav ul li a#servicesLink label,
#presentation:target nav ul li a#presentationLink label,
#realisations:target nav ul li a#realisationsLink label,
#contact:target nav ul li a#contactLink label{
    font-weight: bold;
    padding-top: 0.5em;
    border-top: 5px solid;
    font-weight: bold;
}

#accueil:target nav ul li a#accueilLink label,
#services:target nav ul li a#servicesLink label,
#presentation:target nav ul li a#presentationLink label,
#realisations:target nav ul li a#realisationsLink label,
#contact:target nav ul li a#contactLink label{
    color:  var(--main-yellow-color);
}

content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    margin: var(--nav-height) 0 2em 0;
    width: 500vw;
    height: 100%;
    flex-grow: 1;
}

content, nav ul{
    // transition: margin 0.5s cubic-bezier(0.77, 0.01, 0.08, 1.29), background 0.8s;
    transition: margin 0.5s cubic-bezier(1,-0.28,0,.99), background 0.8s;
}

section {
    width: 95vw;
    position: relative;
    border-radius: 20%;
    height: calc(100vh - 8em);
    overflow-y: hidden;
}

section-content {
    display: block;
    text-align: center;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    z-index: 2;
    position: relative;
    min-height: calc(100vh - var(--nav-height) - 5.2em);
    margin-bottom: 2em;
}

.changePage {
    position: absolute;
    display: block;
    height: 100%;
    width: 95vw;
    z-index: 3;
    opacity: 0;
}

section-content * {
    opacity: 0;
    transition: opacity 0.2s;
}

#section-accueil section-content * {
    opacity: 1;
}
#accueil:target #section-accueil section-content *,
#services:target #section-services section-content *,
#presentation:target #section-presentation section-content *,
#realisations:target #section-realisations section-content *,
#contact:target #section-contact section-content *
{
    opacity: 1;
}

#accueil:target #section-accueil,
#services:target #section-services,
#presentation:target #section-presentation,
#realisations:target #section-realisations,
#contact:target #section-contact
{
    height: 100%;
    min-height: calc(100vh - var(--nav-height));
    overflow-y: visible;
}

#accueil:target #section-accueil .changePage,
#services:target #section-services .changePage,
#presentation:target #section-presentation .changePage,
#realisations:target #section-realisations .changePage,
#contact:target #section-contact .changePage
{
    display: none;
}

// #accueil:target content {
//     margin-left: calc(0 * -95vw);
//     background-color:var(--bold-blue-color);
// }

// #services:target content {
//     margin-left: calc(1 * -95vw + 2vw);
//     background-color: var(--light-blue-color);
// }

// #presentation:target content {
//     margin-left: calc(3 * -95vw + 2.5vw);
//     background-color: var(--light-blue-color);
// }

// #realisations:target content {
//     margin-left: calc(2 * -95vw + 2.5vw);
//     background-color: var(--bold-blue-color);
// }

// #contact:target content {
//     margin-left: calc(4 * -95vw + 5vw);
//     background-color:var(--bold-blue-color);
// }


#contact:target nav ul{
    // margin-left: 4vw;
}

strong {
    font-size: 1.2em;
}

content section:nth-child(2n) *{
    background: var(--light-blue-color);
    color: var(--main-font-color);
}

content section:nth-child(2n) strong {
    color: var(--bold-blue-color);
}

content section:nth-child(2n+1) {
    background: var(--bold-blue-color);
    color: var(--main-font-color);
}

content section:nth-child(2n+1) strong {
    color: var(--light-blue-color);
}

logo .bigText{
    fill: var(--light-blue-color);
    font-weight: bold;
}

#section-accueil logo .logo-text, #section-accueil logo .tarsier{
    max-width: 300px;
}

#section-accueil logo svg *, #section-accueil logo .tarsier, #section-accueil logo .logo-text, #section-accueil logo baseline hr{
    fill: var(--main-font-color);
    width: 26vw;
    vertical-align: middle;
    margin-right: 2em;
    min-width: 200px;
    border-color: var(--bold-blue-color);
}

// #section-accueil logo *{
//     fill: var(--main-font-color);
//     width: 26vw;
//     vertical-align: middle;
//     margin-right: 2em;
//     min-width: 200px;
//     border-color: var(--bold-blue-color);
// }

#section-accueil logo .logo-text .bigText{
    fill: var(--light-blue-color);
}

baseline {
    display: block;
    width: 100%;
    margin: -0.5em 0;
    font-size: 5vw;
}

baseline hr{
    width: 40%;
}

presentation {
    margin-top: 3em;
    display: block;
}

presentation tarsier {
    margin-top: 2em;
}

baseline strong {
    font-size: 1em;
}

services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3em;
    justify-content: center;
}

service {
    text-align: left;
    max-width: 27em;
    line-height: 2em;
    padding: 0 1em 0 1em;
}
service h1 {
    text-align: center;
}

content section .og-expander * {
    background-color: #a2c2d6;
}

content section .og-expander strong {
    color: #2c3e50;
}
.og-expander {
    border-radius: 1%;
}

.og-grid li.og-expanded > a::after {
    border-bottom-color: #a2c2d6;
}

.og-grid li > a img {
    border-radius: 10%;
}

.og-details {
    color: #2c3e50;
}
.og-details p {
    font-size: 1em;
    color: #2c3e50;
}

.og-close {
    transition: transform 0.5s ease-in-out;
}

.og-close:hover {
    transform: rotate(180deg);
}

.og-close::before, .og-close::after {
    background: #090909;
    height: 2px;
}

.og-details a:hover {
    border-color: var(--bold-blue-color);
    color: var(--bold-blue-color);
}

realisations {
    display: block;
    margin-top: 3em;
}

@media (min-width: 1281px) {
    baseline {
        font-size: 3em;
    }
}

@media (max-width: 719px) {
    nav {
        position: relative;
        height: 100%;
    }

    nav ul {
        flex-wrap: wrap;
    }

    content {
        margin-top: 1em;
    }
}

presentation {
    display: block;
    margin-top: 3em;
}

presentation description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2em;
    flex-wrap: wrap;
    // background: url('http://prototype.stadja.net/ltn-site/assets/images/photo_avec_scratchy.jpg') no-repeat 10em 0% !important;;
    padding: 2em;
    max-width: 45em;
    margin: auto;
}

presentation description block{
    max-width: 25em;
    text-align: left;
    // background: rgba(107, 145, 171, 0.4) !important;
    // background: rgba(255, 255, 255, 0.3) !important;
    // padding: 2em;
    flex-grow: 1;
}

block.withImage {
    text-align: center;
}

block.withImage img{
    border-radius: 10%;
}

.presentationPicture {
    width: 100%;
    max-width: 20em;
    border-radius: 20%;
}


contacts {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    justify-content: center;
}

contacts column {
    max-width: 30em;
    width: 100%
    margin-left: 2em;
    margin-right: 2em;
}

contacts .icon {
    font-size: 2em;
}

contacts map {
    height: 255px;
    display: block;
}

contacts a {
    color: var(--light-blue-color);
}

tarsier {
    width: 100%;
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
}

tarsier svg.tarsier {
    background-color: rgba(0,0,0,0);
}

tarsier svg.tarsier *{
    fill: var(--main-black-color);
}


contacts column form {
    margin-top: 2em;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--main-black-color);
    border-radius: 4px;
    background-color: var(--light-blue-color);
    margin-bottom: 1em;
}

// input[type=button], input[type=submit], input[type=reset] {
//     background-color: var(--bold-blue-color);
//     border: 2px solid var(--main-black-color);
//     border-radius: 4px;
//     color: var(--light-blue-color);
//     padding: 16px 32px;
//     text-decoration: none;
//     margin: 4px 2px;
//     cursor: pointer;
//     width: 100%;
//     font-size: 1.2em;
//     transition: background-color 0.2s, color 0.2s;
// }

// input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
//     background-color: var(--light-blue-color);
//     color: var(--bold-blue-color);
// }

#emailLabel {
    display: none;
}
.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #090909;
    border-radius: 4px;
    color: #bcd5e2;
    overflow: hidden;
    height: 4em;
    width: 100%;
    margin: 0;
    padding: 0;
}
.btn:hover, .btn:active, .btn:focus {
    color: var(--main-black-color);
    height: 335px;
}

.btn:after {
    content: url('https://ltn.agency/tarsier.php?color=BCD5E2&background=6B91AB');
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: var(--light-blue-color);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn:hover:after, .btn:focus:after {
    height: 50%;
    opacity: 1;
}

.courrielSent {
    color: var(--main-yellow-color);
}

@media (max-width: 638px) {
    content {
        flex-direction: column;
    }

    section-content {
        padding: 1em;
    }

    baseline {
        font-size: 1.5em;
    }

    #section-accueil logo *{
        margin-right: 0;
    }

    #section-accueil logo baseline {
        margin: 0;
        font-size: 2em;
    }

    #section-accueil logo baseline hr {
        width: 100%;
        // visibility: hidden;
    }
}