    /*
    Flaticon icon font: Flaticon
    Creation date: 08/02/2017 10:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-accessory192:before { content: "\f100"; }
.flaticon-businessmen6:before { content: "\f101"; }
.flaticon-cancel:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-favorite-heart-button:before { content: "\f105"; }
.flaticon-google-plus:before { content: "\f106"; }
.flaticon-home:before { content: "\f107"; }
.flaticon-men9:before { content: "\f108"; }
.flaticon-menu:before { content: "\f109"; }
.flaticon-pen-feather-black-diagonal-shape-of-a-bird-wing:before { content: "\f10a"; }
.flaticon-web-programming:before { content: "\f10b"; }
    
    $font-Flaticon-accessory192: "\f100";
    $font-Flaticon-businessmen6: "\f101";
    $font-Flaticon-cancel: "\f102";
    $font-Flaticon-customer-service: "\f103";
    $font-Flaticon-facebook-logo: "\f104";
    $font-Flaticon-favorite-heart-button: "\f105";
    $font-Flaticon-google-plus: "\f106";
    $font-Flaticon-home: "\f107";
    $font-Flaticon-men9: "\f108";
    $font-Flaticon-menu: "\f109";
    $font-Flaticon-pen-feather-black-diagonal-shape-of-a-bird-wing: "\f10a";
    $font-Flaticon-web-programming: "\f10b";