	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/02/2017 10:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-accessory192:before { content: "\f100"; }
.flaticon-businessmen6:before { content: "\f101"; }
.flaticon-cancel:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-favorite-heart-button:before { content: "\f105"; }
.flaticon-google-plus:before { content: "\f106"; }
.flaticon-home:before { content: "\f107"; }
.flaticon-men9:before { content: "\f108"; }
.flaticon-menu:before { content: "\f109"; }
.flaticon-pen-feather-black-diagonal-shape-of-a-bird-wing:before { content: "\f10a"; }
.flaticon-web-programming:before { content: "\f10b"; }